.main-catalog {
display: flex;
width: 1130px;
flex-wrap: wrap;
margin: auto;
}

.catalog-item {
border: 1px solid #CCC;
border-radius: 5px;
width: 250px;
padding: 10px;
margin: 5px;
}

.category {

}

.category-delim {

}

.catalog-img {
width: 100px;
}

.catalog-name{

}

.catalog-descr{

}

.catalog-price{

}

.catalog-btn {
background-color: #5EE123;
height: 35px;
border-radius: 5px;
color: white;
font-size: 23px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}

.catalog-btn:hover {
background-color: #358611;
}