<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Translation example</title>
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        <script th:src="@{/js/main.js}"></script>
    </head>
    <body>
        <div th:text="${translations['hello']}"></div>
        </div>
        <div th:each="l : ${language}">
        <div th:onclick="'setLang('+ *{l.id} +')'" th:text="${l.label}"></div>
        </div>
    </body>
</html>